<h4>Edit Pin:</h4><br>

<form action="/pins/<%= @pin.id %>" method="POST">
<input type="hidden" name="_method" value="PUT">

    
    <label>Name:</label>
        <input type="text" name="pin[name]" value="<%=@pin.name%>"><br>
    <label>Artist:</label>
        <input type="text" name="pin[artist]" value="<%=@pin.artist%>"><br>
    <label>Series:</label>
        <input type="text" name="pin[series]" value="<%=@pin.series%>"><br>
    <label>Price:</label>
        <input type="number" name="pin[price]" value="<%=@pin.price%>"><br>
    <input type="submit" value="Finish Edit">
</form>