<div class="pin collection">
<p>Pins:</p><br>

<% @pins.each do |pin| %>

    Name: <%= pin.name %><br>
    Artist: <%= pin.artist %><br>
    Series: <%= pin.series %><br>
    Price: <%= pin.price %><br>

    <form action ="/pin/<%= pin.id%>/delete" method="POST">
        <input type="hidden" id="hidden" name="method" value="DELETE">
        <button type="submit" value="delete">Trade Pin</button><br>
    </form>
</div>

<a href="/new">Add a New Pin.</a><br>
<a href="/pins<%=@pin.id%>/edit">Edit Pin</a>

<% end %>