<div class="pin collection">
<h4>Pins:</h4><br>

<% @pins.each do |pin| %>

    Name: <%= pin.name %><br>
    Artist: <%= pin.artist %><br>
    Series: <%= pin.series %><br>
    Price: <%= pin.price %><br>

    <form action ="/pin/<%= pin.id%>/delete" method="POST">
        <input type="hidden" id="hidden" name="method" value="DELETE">
        <button type="submit" value="delete">Trade Pin</button><br>

        <a href="/pins/<%= pin.id%>/edit">Edit Pin</a><br>
    </form><br>



<% end %>
<a href="/pins/new"><h3>Add a New Pin.</h3></a><br>
</div>